# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Node
node_modules/
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env

# typescript
*.tsbuildinfo

# Android/IntelliJ
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/
*.keystore
!debug.keystore

# iOS
ios/Pods/
ios/build/
ios/Podfile.lock

# Temporary files
*.log
*.tmp
*.tmp.*
log.txt
npm-debug.log*

# Expo
.expo/
web-build/

# EAS
.eas/

# vscode
.vscode/

# Logs
metro-debug.log*

app-example
